.App {
    text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Bigelow+Rules&display=swap");
.title {
    font-family: "Bigelow Rules";
    font-size: 72px;
    color: #add8e6;
}
